body {
	margin: 0px;
	overflow: hidden;
}

svg {
	background-color: lightgrey;
	width: 100vw;
	height: 100vh;
	/*width: 200px;
	height: 200px;*/
}

text {
	cursor: default;
}

#toolbar {
	position: fixed;
	top: 5px;
	right: 5px;
}
